apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # - ./all.yaml
  # - github.com/devops-config/loadbalancer/loadbalancer-config/?ref=main
  - git::ssh://git@github.com/iamlookod/devops-config.git//loadbalancer-config/?ref=main
# secretGenerator:
#   - name: loadbalancer
#     namespace: app
#     envs:
#       - "../../devops-config/loadbalancer-config/config/secrets.env"
#     type: Opaque
# configMapGenerator:
#   - name: loadbalancer
#     envs:
#       - "../../devops-config/loadbalancer-config/config/configmaps.env"

generatorOptions:
  disableNameSuffixHash: true
