apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-nestjs
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: nodejs-nestjs
  template:
    metadata:
      labels:
        app: nodejs-nestjs
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/agent-inject-status: "update"
        vault.hashicorp.com/role: "app"
        vault.hashicorp.com/agent-inject-secret-database-config.txt: "app/data/nodejs-nestjs"
        vault.hashicorp.com/agent-inject-template-database-config.txt: |
          {{- with secret "app/data/database/config" -}}
          postgresql://{{ .Data.data.username }}:{{ .Data.data.password }}@postgres:5432/wizard
          {{- end -}}
    spec:
      serviceAccountName: app
      containers:
        - name: nodejs-nestjs
          image: iamlookod/nodejs-nestjs:latest
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            limits:
              cpu: 200m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 128Mi
      imagePullSecrets:
        - name: regcred
