# apiVersion: kustomize.config.k8s.io/v1beta1
# kind: Kustomization

resources:
  - ./all.yaml

secretGenerator:
  - name: vue
    namespace: app
    envs:
      - "config/secrets.env"
    type: Opaque
configMapGenerator:
  - name: vue
    files:
      - "config.json=config/config.json"
    envs: 
      - "config/configmap.env"

generatorOptions:
  disableNameSuffixHash: true