apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./all.yaml

secretGenerator:
  - name: nodejs-nestjs
    namespace: app
    envs:
      - "config/secrets.env"
    type: Opaque
configMapGenerator:
  - name: nodejs-nestjs
    envs:
      - "config/configmap.env"

generatorOptions:
  disableNameSuffixHash: true